* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: lightgreen;
}

.logo {
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.button {
    background-color: teal;
    color: navy;
    display: block;
    height: 60px;
    width: 250px;
    border-radius: 20px;
    margin: 20px auto;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    line-height: 60px;
    font-size: 20px;
    transition: 0.3s;
}

.button:hover {
    background: #2c6185;
    color: white;
    .button_icon {
        filter: brightness(0) invert(1);
        transition: 0.3s;
    }
    .button_icon2 {
        filter: brightness(0) invert(1);
        transition: 0.3s;
    }
}

.button_icon {
    width: 30px; 
    height: 30px;
    position: relative;
    top: 15%; 
    left: 0%; 
  }

.button_icon2 {
    width: 30px; 
    height: 30px;
    position: relative;
    top: 15%; 
    left: 0%;
}

.philosophy {
    text-align: center;
}

.hello {
    text-align: center;
}

.footer {
    position: bottom;
    color:white;
    background-color: teal;
    text-align: center;
}
.column {
    vertical-align: middle; 
    display: inline-block;
    padding: 0 15px;    
}

.discord_button {
    border: none;
    color: white;
    padding: 0 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position:relative;
    top: 15%;
    bottom: 5%;
  }