* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: lightgreen;
}

.logo {
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
    transition: all .2s;
}

.logo:hover {
    transform:scale(1.1);
}

.title {
    text-align: center;
}

.button {
    background-color: teal;
    color: navy;
    display: block;
    height: 60px;
    width: 250px;
    border-radius: 20px;
    margin: 20px auto;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    line-height: 60px;
    font-size: 20px;
    transition: 0.3s;
}

.buttonnoncenter {
    background-color: teal;
    color: navy;
    display: block;
    height: 60px;
    width: 250px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    line-height: 60px;
    font-size: 20px;
    transition: 0.3s;
}

.buttonnoncenter:hover {
    background: #2c6185;
    color: white;
    .button_icon {
        filter: brightness(0) invert(1);
        transition: 0.3s;
    }
    .button_icon2 {
        filter: brightness(0) invert(1);
        transition: 0.3s;
    }
}

.button:hover {
    background: #2c6185;
    color: white;
    .button_icon {
        filter: brightness(0) invert(1);
        transition: 0.3s;
    }
    .button_icon2 {
        filter: brightness(0) invert(1);
        transition: 0.3s;
    }
}

.button_icon {
    width: 30px; 
    height: 30px;
    position: relative;
    top: 15%; 
    left: 0%; 
    transition: 0.3s;
  }

.button_icon2 {
    width: 30px; 
    height: 30px;
    position: relative;
    top: 15%; 
    left: 0%;
   transition: 0.3s;
}

.philosophy {
    text-align: center;
}

.loginformation {
    text-align: center;
}

.profilepicture {
    border-radius: 90%;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: block;
    margin: 0% auto;
}

.greetings {
    text-align: center;
}

.checkboxes {
    text-align: center;
}

.footer {
    align-items: center;
    position: absolute;
    margin-top: 70px;
    bottom: 15px;
    left: 2px;
    z-index: 10px;
    color:navy;
    background-color: teal;
    text-align: center;
    border-radius: 20px
}
.column {
    vertical-align: middle; 
    display: inline-block;
    padding: 0 15px;
}

.discord_button img{
    transition: transform .7s ease-in-out;
  }
.discord_button:hover img {
    transform: rotate(360deg);
}